<?php
/**
 * @package    {{ projectName }}
 * @subpackage {{ componentName }}
 * @version    {{ version }}
 *
 * @copyright  {{ copyright }}
 * @license    {{ license }}
 */

defined('_JEXEC') or die;

/** @var \{{ company_namespace }}\Component\{{ componentName }}\Site\View\{{ pageName }}\HtmlView $this */

use \Joomla\CMS\HTML\HTMLHelper;
use \Joomla\CMS\Factory;
use \Joomla\CMS\Uri\Uri;
use \Joomla\CMS\Router\Route;
use \Joomla\CMS\Language\Text;
use \Joomla\CMS\Session\Session;
use Joomla\Utilities\ArrayHelper;

?>

<div class="item_fields">

    <table class="table">


    </table>

</div>

